h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 15px;
}

.secondary-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
  padding-bottom: 15px;
}

@media (min-width: 600px) {
  main {
    background-image: url("../img/background2.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    background-blend-mode: multiply;
  }
  .main-text {
    color: white;
  }
  .mobile-nav {
    display: none;
  }
  .mobile-hamburger {
    display: none;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7894ff;
    padding: 20px;
  }
  .desktop-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .nav-link {
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  .nav-link:hover {
    color: #feadb9;
  }
  i {
    padding: 20px;
  }
  .main-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .main-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #7894ff;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    border-radius: 3px;
    font-size: 20px;
  }
  .main-button:hover {
    color: #feadb9;
  }

  /**start form styling**/
  form {
    padding: 20px 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  input[type="checkbox"] {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0 0 0 20px;
  }
  .option {
    padding-bottom: 15px;
  }
  label[for="filter"] {
    padding-bottom: 5px;
    font-size: 24px;
    color: #7894ff;
    font-weight: bold;
  }
  .gender-filter-container,
  .age-filter-container,
  .size-filter-container {
    font-size: 18px;
  }
  /**end form styling**/

  h2 {
    text-align: center;
    padding: 30px;
    color: #7894ff;
    font-weight: bold;
    font-size: 3rem;
  }
  .dog-indiv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e6ebff;
    border-radius: 4px;
    background-color: #e6ebff;
    margin: 10px;
    padding-bottom: 30px;
    justify-content: center;
    width: 600px;
  }
  .dog-indiv-container h3 {
    font-size: 32px;
    padding: 10px;
  }
  .dog {
    width: 350px;
  }
  .flex-test {
    display: flex;
    column-gap: 80px;
    margin: auto;
    width: 60%;
  }
  .main-dog-description {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin: 15px, 0;
    justify-content: center;
    text-align: center;
    font-size: 20px;
  }
  .btn-primary {
    text-decoration: none;
    background-color: #feadb9;
    border-color: #feadb9;
    text-align: center;
    color: white;
    padding: 15px;
    border-radius: 3px;
    font-size: 18px;
  }
  .btn-primary:hover {
    background-color: white;
    border-color: #feadb9;
    color: #bc85a3;
  }
  h5 {
    text-align: center;
  }
  .additional-info {
    text-align: center;
    padding-top: 20px;
  }
  .dog-personality {
    padding: 10px;
  }
  footer {
    text-align: center;
  }
}

/*****Mobile start*****/
@media (max-width: 600px) {
  header {
    padding: 10px 20px;
  }
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .desktop-nav {
    display: none;
  }
  .nav-link {
    display: none;
  }
  .mobile-nav {
    display: none;
  }

  main {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("../img/background2.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
  }
  fieldset {
    padding: 20px;
  }
  .filter-container {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .main-text {
    background: #e6ebff;
    position: relative;
    top: 250px;
    width: 100%;
    padding: 20px;
  }
  .main-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .main-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #7894ff;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    border-radius: 3px;
    font-size: 20px;
  }
  .main-button:hover {
    color: #feadb9;
  }

  /**form styling **/
  .flex-test {
    padding-top: 50px;
  }
  form {
    padding: 100px 0 0 10px;
    position: inline-block;
  }
  input[type="checkbox"] {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0 0 0 20px;
  }
  .option {
    padding-bottom: 15px;
  }
  label[for="filter"] {
    padding-bottom: 5px;
    font-size: 24px;
    color: #7894ff;
    font-weight: bold;
  }
  .gender-filter-container,
  .age-filter-container,
  .size-filter-container {
    font-size: 18px;
  }

  /**end form styling **/

  h2 {
    text-align: center;
    padding: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #7894ff;
  }
  .dog-indiv-container h3 {
    padding: 10px;
  }
  .dog-indiv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e6ebff;
    border-radius: 4px;
    background-color: #e6ebff;
    margin: 10px;
    padding-bottom: 30px;
    justify-content: center;
  }
  .dog {
    width: 350px;
    padding-bottom: 10px;
  }
  .main-dog-description {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 15px, 0;
    justify-content: center;
    text-align: center;
    font-size: 20px;
  }
  .btn-primary {
    text-decoration: none;
    background-color: #feadb9;
    border-color: #feadb9;
    text-align: center;
    color: white;
    padding: 15px;
    border-radius: 3px;
    font-size: 18px;
  }
  .btn-primary:hover {
    background-color: white;
    border-color: #feadb9;
    color: #bc85a3;
  }
  h5 {
    text-align: center;
  }
  .additional-info {
    text-align: center;
    padding-top: 20px;
  }
  .dog-personality {
    padding: 10px;
  }
  footer {
    text-align: center;
  }
}
